[submodule "submodules/NCPP"]
	path = submodules/NCPP
	url = https://github.com/n-c0d3r/NCPP
[submodule "submodules/NMath"]
	path = submodules/NMath
	url = https://github.com/n-c0d3r/NMath
[submodule "submodules/NSurface"]
	path = submodules/NSurface
	url = https://github.com/n-c0d3r/NSurface
[submodule "submodules/SPIRV-Cross"]
	path = submodules/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
